/E3_01QuadraticEquations.class
/E3_02AddThreeNumbers.class
/E3_03LinearEquations.class
/E3_04RandomMonth.class
/E3_05FindFutureDates.class
/E3_06BMI.class
/E3_07MonetaryUnits.class
/E3_08SortThreeIntegers.class
/E3_09CheckISBN.class
/E3_10AdditionQuiz.class
/E3_11DaysInAMonth.class
/E3_12PalindromeNumber.class
/E3_13ComputeTaxes.class
/E3_14HeadsOrTails.class
/E3_15Lottery.class
/E3_16RandomPoint.class
/E3_17RockPaperScissors.class
/E3_18CostOfShipping.class
/E3_19PerimeterOfATriangle.class
/E3_20WindChillTemperature.class
/E3_21DayOfTheWeek.class
/E3_22PointInACircle.class
/E3_23PointInARectangle.class
/E3_24PickACard.class
/E3_25IntersectingPoint.class
/E3_26Operators.class
/E3_27PointsInATriangle.class
/E3_28TwoRectangles.class
/E3_29TwoCircles.class
/E3_30CurrentTime.class
/E3_31CurrencyExchange.class
/E3_32PointPosition.class
/E3_33CompareCost.class
/E3_34PointOnALineSegment.class
