/E4_01AreaOfAPentagon.class
/E4_02CircleDistance.class
/E4_03EstimateAreas.class
/E4_04AreaOfAHexagon.class
/E4_05AreaOfAPolygon.class
/E4_06RandomPointsOnACircle.class
/E4_07CornerPointCoordinates.class
/E4_08ASCIICode.class
/E4_09UnicodeofCharacter.class
/E4_10GuessBirthday.class
/E4_11DecimalToHex.class
/E4_12HexToBinary.class
/E4_13VowelOrConsonant.class
/E4_14LetterGradeToNumber.class
/E4_15PhoneKeyPads.class
/E4_16RandomCharacter.class
/E4_17DaysOfAMonth.class
/E4_18StudentMajorAndStatus.class
/E4_19CheckISBN.class
/E4_20ProcessAString.class
/E4_21CheckSSN.class
/E4_22CheckSubstring.class
/E4_23Payroll.class
/E4_24OrderThreeCities.class
/E4_25GeneratePlateNumber.class
/E4_26MonetaryUnits.class
