/E1_01DisplayMessages.class
/E1_02DisplayFiveMessages.class
/E1_03DisplayaPattern.class
/E1_04PrintATable.class
/E1_05ComputeExpressions.class
/E1_06Summationofaseries.class
/E1_07ApproximatePie.class
/E1_08AreaOfACircle.class
/E1_09AreaOfARectangle.class
/E1_10AvgSpeedInMiles.class
/E1_11PopulationProjection.class
/E1_12AverageSpeedInKilometers.class
/E1_13TwoByTwo.class
